/* #para1{
    background-color: bisque;
} */


/* .para{
    background-color:rgb(116, 98, 152);
} */


/* p{
    background-color: red;
} */



/*html,body,p{
border: 1px solid black;--- grouping selector 
}*/
/* 
*{
    background-color: red;
} */

/* #para2{
    background-color: blanchedalmond;
}

.para{
    background-color: blueviolet;
}

p{
    background-color: rgb(93, 137, 93) !important;
} */



