header{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(210, 184, 149);
    padding: 25px;
    font-size: large;

}

#item1{
    border: 1px solid black;
    height: 100vh;
    height: 200vh;
}
nav{
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(10, 15, 15);
    word-spacing: 200px;
    text-align: center;
    text-decoration: none;
    position: sticky;
    top: 0px;
    
}
#item2{
    border: 1px solid black;
    /* background-color: grey; */
    height: 80vh;
}
footer{
    border: 1px solid black;
    text-align: center;
    padding: 25px;
    font-size: large;
    /* background-color: aquamarine; */
    position: sticky;
    bottom: 0px;
    
}
div{
    height: 95vh;
    width: 200vh;
    border: dashed 10px black;
    background-image: url(https://i.pinimg.com/564x/be/5b/14/be5b141ecbfc8144549d1eb25e36bc0d.jpg);
    /* background-repeat: no-repeat,no-repeat,no-repeat; */
    background-position: center;
