body{
    background-color: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    text-transform: capitalize;
    font-size:xx-large;
    color: red;
}
#content{
    text-align: center;
    
    color: rgb(13, 49, 13);
}
#outer{
    font-size: 25px;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}
#inner{
    font-size: 5px;
    color: cornflowerblue;
    border: 5px solid red;
}